---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

const { data } = Astro.props;
const monthNames = [
  'January', 'February', 'March', 'April',
  'May', 'June', 'July', 'August',
  'September', 'October', 'November', 'December'
];
---
<div class="m-8">
	<div class="mb-2">
		<h4 class="text-xl">{data.position}</h4>
		<p class="italic">{data.employer}</p>
		<p class="italic">{monthNames[data.startDate.getMonth()]} {data.startDate.getFullYear()} &#8211; {monthNames[data.endDate.getMonth()]} {data.endDate.getFullYear()}</p>
		<p class="italic">{data.location}</p>
	</div>
	<ul class="list-disc pl-4">
		{data.details.map((item) => <li class="size-s">{item}</li>)}
	</ul>
</div>

<!-- <style>
	ul {
		list-style:circle;
	}

</style> -->
	
